USE [master]
GO
/****** Object:  Database [Dev_SQLFunctionsStoredTriggers]    Script Date: 08/06/2017 9:48:49 ******/
CREATE DATABASE [Dev_SQLFunctionsStoredTriggers]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Dev_SQLFunctionsStoredTriggers', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Dev_SQLFunctionsStoredTriggers.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Dev_SQLFunctionsStoredTriggers_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Dev_SQLFunctionsStoredTriggers_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Dev_SQLFunctionsStoredTriggers].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Dev_SQLFunctionsStoredTriggers]
GO
USE [Dev_SQLFunctionsStoredTriggers]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 08/06/2017 9:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[ClientID] [int] IDENTITY(1,1) NOT NULL,
	[ClientName] [nvarchar](50) NULL,
	[ClientLastName] [nvarchar](50) NULL,
	[ClientEmail] [nvarchar](50) NOT NULL,
	[ClientLastActionTime] [timestamp] NULL,
	[ClientIsMarried] [int] NULL,
	[ClientStreetAddress] [ntext] NULL,
	[ClientCityAddress] [nvarchar](50) NULL,
	[ClientStateAddress] [nvarchar](50) NULL,
	[ClientCountryAddress] [nvarchar](50) NULL,
	[ClientZipCodeAddress] [char](10) NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Log]    Script Date: 08/06/2017 9:48:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[LogName] [varchar](50) NULL,
	[LogValue] [varchar](50) NULL,
 CONSTRAINT [PK_Log] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Reservation]    Script Date: 08/06/2017 9:48:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservation](
	[ReservationID] [int] IDENTITY(1,1) NOT NULL,
	[ReservationClientID] [int] NOT NULL,
	[ReservationRoomID] [int] NOT NULL,
	[ReservationDateIn] [date] NOT NULL,
	[ReservationDateOut] [date] NOT NULL,
 CONSTRAINT [PK_Reservation] PRIMARY KEY CLUSTERED 
(
	[ReservationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Room]    Script Date: 08/06/2017 9:48:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[RoomID] [int] IDENTITY(1,1) NOT NULL,
	[RoomName] [char](10) NULL,
	[RoomDescription] [varchar](max) NULL,
 CONSTRAINT [PK_Room] PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
USE [master]
GO
